/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
 	font-family: arial;
 	text-shadow: 1px 1px 1px #FFFFFF;
 }

img {
	height: 300px;
}

header {
	background: black;
	color: yellow;
	padding: 10px;
	font-size: 14pt;
}

.container {
	background: lightblue;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin: 15% auto 0;
	box-shadow: 1px 1px 2px #888888;
}

#login {
	width: 300px;
	z-index: 10;
}

.search_image {
	width: 400px;
	height: 200px;
	overflow: hidden;
	border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

#bear_land {
	float: left;
}

#search_zone {
	width: 400px;
	padding: 10px;
	float: right;
	background: darkblue;
}

#searches_box {
	height: 600px;
	overflow: scroll;
}

#search_bar_label {
	display: none;
}