/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    
}
 
.clearfix {
    display: inline-block;
    width:100%;
}

html {
	font-family: Arial;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #C9F6FF;
}

img {
	height: 300px;
}

header {
	background: limegreen;
	color: white;
	padding: 10px;
	font-size: 14pt;
	box-shadow: 1px 1px 2px #888888;
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
}

input, button {
	text-transform: uppercase;
}

#logo {
	height: 15px;
	float: left;
	padding-right: 10px;
}

.container {
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	/*margin: 15% auto 0;*/
	box-shadow: 1px 1px 2px #888888;
}

#login {
	background: limegreen;
	color: white;
	width: 300px;
	position: absolute;
	margin: 15% 30%;
}

.search_image {
	width: 400px;
	height: 200px;
	overflow: hidden;
	border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

#bear_land {
	float: left;
	max-width: 1000px;
	padding: 40px;
}

#search_zone {
	width: 400px;
	padding: 10px;
	padding-top: 50px;
	float: right;
	background: white;
}

#search_bar {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 2px solid limegreen;
}

#searches_box {
	height: 600px;
	overflow-y: scroll;
}

#search_bar_label {
	display: none;
}

#memory_box {
	width: 100%;
}

.memory_item {
	background: white;
	width: 600px;
	margin: 10px;
	padding: 10px;
	float: left;
}

#memory_drop {
	background: orange;
	width: 300px;
	height: 100px;
	margin-top: 60px;
}

.bear {
	background: url('search_bear_imagery-01.png') 0 0 no-repeat;
	width: 440px;
	height: 660px;
}

.bear_text {
	background: white;
}

.bear_bar {
	background: blue;
	height: 20px;
}

.red {
	background: red;
}