/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    
}
 
.clearfix {
    display: inline-block;
    width:100%;
}

html {
	font-family: Arial;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #C9F6FF;
}

img {
	height: 300px;
}

header {
	color: white;
	padding: 10px;
	font-size: 16pt;
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	z-index: 5;
	text-shadow: 1px 1px 2px #888888;
}

header,
#search_bar {
	box-shadow: 1px 1px 2px #888888;
}

input, button {
	text-transform: uppercase;
}

#logo {
	height: 15px;
	float: left;
	padding-right: 10px;
}

.container {
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	/*margin: 15% auto 0;*/
	box-shadow: 1px 1px 2px #888888;
}

#login {
	background: limegreen;
	color: white;
	width: 300px;
	position: absolute;
	margin: 15% 30%;
}

.search_image {
	width: 400px;
	height: 200px;
	overflow: hidden;
	cursor: move;
}

#bear_land {
	max-width: 100%;
	padding: 40px;
	text-align: center;
}

#search_bar {
	text-align: center;
	padding-bottom: 10px;
}

#search_bar input {
	padding: 5px;
	font-size: 2em;
	width: 35%;
	vertical-align: top;
}

#search_button {
	background: url('https://www.z2systems.com/neon/resource/start/images/20140729192722_550.png?t=1406680084882&t=1406680162928&t=1406680463548') 0 0 no-repeat;
	height: 3em;
	width: 3em;
	background-size: 3em 3em;
	background-color: #888888;
	padding-left: 5px;
}

#search_button:hover {
	background-color: lightgray;
}

#search_zone {
	width: 100%;
	padding: 10px;
	box-shadow: 1px 1px 2px #888888;
}

#searches_box {
	padding-top: 10px;
	height: 300px;
	overflow-y: scroll;
}

#search_bar_label {
	display: none;
}

#memory_box {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.memory_item {
	background: white;
	width: 600px;
	margin: 10px;
	float: left;
}

#memory_drop {
	border: 5px dashed white;
	width: 300px;
	height: 100px;
	margin-top: 150px;
}

.bear {
	background: url('search_bear_imagery-01.png') 0 0 no-repeat;
	background-size: 220px 330px;
	width: 220px;
	height: 330px;
}
/*
#talk_li {
	width: 30px;
}*/

.bear_talk {
	background: white;
	height: 100px;
	width: 100px;
	border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.bear_bar {
	background: blue;
	height: 20px;
}

#bear_ul li{
	display: inline-block;
	min-height: 330px;
	height: 330px;
	vertical-align: top;
}