<!DOCTYPE html>
<html>
<head>
  <title>SearchBear</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
</head>
<body>
	<div id="login" class="container">
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end -%>
		<ul>
			<li>
				<h3>Log In</h3>
				<label>email</label>
				<input type="text" name="login_email" placeholder="email@you.com" id="login_email"><br>
				<label>password</label>
				<input type="password" name="login_password" id="login_password"><br>
				<button id="login_submit">submit</button>
			</li>
			<li>
				<h3>Welcome!</h3>
				<button id="sign_up">sign up</button>
			</li>
		</ul>
	</div>
	<header>
		<img src="http://upload.wikimedia.org/wikipedia/commons/0/09/White_paw_print.png" id="logo">
		<h1>SEARCH BEAR</h1>
	</header>
	<span class="clearfix"></span>

	<div id="bear_land">
	</div>
	<div id="memory_drop">memory drop</div>
	<div id="search_zone">
		<div id="search_bar">
			<label id="search_bar_label">search</label>
			<input type="text" name="search" placeholder="search">
			<button id="search_button">search</button>
		</div>
		<div id="searches_box">
		</div>
	</div>
	<span class="clearfix"></span>
	<div id="memory_box">
	</div>
	<footer>
	</footer>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
</html>
